
*{
    padding: 0;
    margin: 0;
    --bg-color: white;
    --textcolor: black;
    --paracolor: rgb(77, 77, 77);
    --btnbgcolor: blue;
    list-style-type: none;
    box-sizing: border-box;
}
body,html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* header css here */
.menu-btn{
    position: absolute;
    left: 10px;
    font-size: 25px;
    display: none;
    cursor: pointer;
}
.header{
    background-color: var(--bg-color);
    max-width:100%;
    height: 12vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(155, 154, 154);
}
.header .left-nav{
    margin-left: 50px;
}
.left-nav img{
    width: 130px;
}
.header ul{
    display: flex;
    margin-top: 6px;
}
.nav_link{
    text-decoration: none;
}
.activelink{
    border-bottom: 2px solid var(--paracolor);
    color: var(--textcolor);
}
ul li{
    padding-left: 18px;
    color: var(--textcolor);
}
.header .right_nav{
position: absolute;
right: 20px;
}
.right_nav button{
    border: none;
    background-color: var(--bg-color);
}
.right_nav .icon{
    width: 20px;
    margin-left: 15px;
}
.user-icon{
    border: 1px solid var(--textcolor);
    border-radius: 50%;
    padding: 2px;
    width: 30px;
    margin-left: 15px;
}

/* site map css start here */
/* all micro css here */
.all_micro{
    position: absolute;
    top: 10vh;
    max-width: 100%;
    background-color: rgb(241, 241, 241);
    padding: 50px;
    border-bottom: 2px solid black;
    z-index: 2;
    display: none;
}
.all_micro.show_micro{
    display: block;
}
.all_micro h5{
    padding-bottom: 15px;
    font-size: 18px;
    color: var(--textcolor);
}
.all_micro p{
    font-size: 15px;
    color: var(--paracolor);
}
.all_micro .link_box{
    text-align: center;
    background-color: rgb(216, 213, 213);
}
.all_micro .site_link{
    text-decoration: none;
    color: var(--paracolor);
    font-size: 18px;
}
/* site nav css here */
.site_nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:100%;
    margin-top: 50px;
    border-top: 1px solid  rgb(155, 154, 154);
    border-bottom: 1px solid  rgb(155, 154, 154);
    padding: 10px;
    background-color: var(--bg-color);
}
.site_nav .site_nav_link{
    color: var(--paracolor);
    font-size: 18px;
}
.site_items{
    width: 90%;
    margin: auto;
}
.site_items h3{
    padding-top: 10px;
    padding-bottom: 40px;
}
.site_items h5{
    padding-bottom: 15px;
}
.site_items p{
color: rgb(0, 89, 255);
}

/* signin/signup css start here */
.sign_container{
    background-color: rgb(216, 213, 213);
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_container .form_container{
    background-color: white;
    padding: 40px;
    width: 400px;
    height: 400px;
    position: relative;
}
.form_container img{
    width: 45%;
}
.form_container h3{
    margin-top: 10px;
}
.form_container input{
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
}
.form_container .sign_btn{
    position: absolute;
    right: 20px;
    bottom: 60px;
}
.form_container button{
    padding: 5px 30px;
}

  /* home css start here */
.icon_container img{
     width: 60px;
     height: 60px;
}
/* custom-card css start here */
.custom_card .card_title{
    font-size: 23px;
}
.custom_card .card_btn{
    position: absolute;
    bottom: 10px;
    left: 10%;
}
/* game-pass css start here */
.game_pass{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px;
}
.game_pass .pass_info{
   flex: 1 1 38rem;
   margin-left: 20px;
   width: 100%;
   background-color: black;
   color: white;
   display: flex;
   align-items: center;
   
}
.pass_info p{
    width: 55% ;
}
.game_pass .pass_banner{
    flex: 1 1 38rem;
    width: 100%;
 }
 .game_pass .pass_banner img{
    width: 100%;
    object-fit: contain;
 }
 /* business card css here */
 .business_head{
    color: var(--textcolor);
    padding-left: 20px;
 }
  /* social-icon css start here */
.social_icon{
   margin: 70px 40px ;
   width: 100%;
}
.social_icon span{
    font-size: 20px;
    color: var(--textcolor);
}
.social_icon img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}
.cart .cart_link{
    position: absolute;
    right: 30px;
}

/* footer css start here */
.footer{
    background-color: rgb(241, 241, 241);
    padding: 20px 50px;
}

.footer h6{
    color: var(--textcolor);
}
.footer p {
    color: var(--paracolor);
    font-size: 14px;
}



/* responsive css start here */
@media screen and (max-width: 850px) {
.menu-btn{
    display: block;
}
.header ul{
    display: block;
    width: 100%;
    height: 70vh;
    background-color: var(--bg-color);
    position: absolute;
    top: 11vh;
    z-index: 2;
    background-color: rgb(241, 241, 241);
  display: none;
}
ul.show_navitem{
    display: block;
}
ul li{
    border: 1px solid rgb(231, 230, 230);
    padding: 10px;

}
.right_nav button{
    display: none;
}
.game_pass .pass_info{
    order: 2;
    background-color: white;
    color: var(--textcolor);
}
.game_pass .pass_banner{
    order: 1;
}
.game_pass .pass_banner img{
    width: 100%;
    height: 500px;
}
} 
@media screen and (max-width: 500px) {
    .icon_container img{
        width: 50px;
        height: 50px;
   }
   .social_icon span{
    font-size: 15px;  
}
.sign_container{
    background-color: white;
}
} 